.taskWrapper {
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 20px;
}

.taskHeading {
    margin-bottom: 10px;
    padding: 2px;
    border: 1px solid transparent;
    font-size: 20px;
    word-wrap: break-word;
    cursor: pointer;
}

.taskHeading:hover {
    border-radius: 6px;
    border: 1px solid mediumaquamarine;
    background-color: #86ab86;
    color: white;
    animation: 1s infinite scale;
}

@keyframes scale {
    0% {
        transform: scale(0.75);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.75);
    }
}

.taskDescription {
    font-size: 16px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.completed {
    display: flex;
    gap: 12px;
    color: rgb(48, 13, 251);
    cursor: pointer;
}