.taskWrapper {
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 20px;
}

.taskHeading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #c5c3c3;
    font-size: 20px;
}

.edit-content-icon {
    max-height: 26px;
    margin: 0;
    font-size: 20px;
    color: mediumaquamarine;
    cursor: pointer;
}

.edit-content-icon:hover {
    color: #ec0f0f;
    animation: 0.75s infinite scale;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

.taskDescription {
    font-size: 16px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.status {
    display: flex;
    gap: 12px;
    color: rgb(48, 13, 251);
    cursor: pointer;
}